header{
    box-shadow: 0px 0px 100px black;
}

.CarneVermelhaMain{
    padding: 2vh 2vw;
    
}
.CVSection{
    padding: 10vh 2vw;
    background: var(--gradiente-1);
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
    border-radius: 30px;
}